# Composer
/vendor
composer.lock
composer.phar

# Node modules
/node_modules

# Laravel specific
/public/storage
/storage/*.key
.env
.env.*.php
Homestead.json
Homestead.yaml

# Laravel cache & logs
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# NPM/Yarn logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Laravel Telescope
storage/telescope

# Laravel Horizon
storage/horizon

# Otros
*.log
*.zip
*.bak
*.swp
*.md
*.txt
*.pdf
*.doc
*.docx
*.xls